<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <h1>Brinda Parmar (N01582223)</h1>
    </header>
    
    <div class="content">
      {{{body}}}
    </div>

    <footer>
      <p>Email: brinda4723@gmail.com</p>
    </footer>
  </body>
</html>